<h1>So enter the argument into this box</h1>

<form method="post" action="/mynewpost">
  <input type="text" name="myitem"> <!--The "name" or "id" can be myitem to trigger the test to pass -->
  <input type="submit" value="submit">
</form>
